extends layout.pug

append head
  script(src="/javascripts/index.js" type='module') 

block content
  h1= title
  ul(class='post-list')
    each post in posts
      li
        p= post.title
        p= post.body
        button(class="delete-button" data-post-id=post.id) Bake it Away